.App-header {
  background-color: #222;
  padding: 10px 20px;
  height: 100px;
  color: white;
}

.App-intro {
  font-size: large;
}

.green {
  color: rgb(0, 204, 0);
}

.red {
  color: rgb(204, 0, 0);
}

button {
  background-color: #eeefff;
  border: 1px solid #eeefff;
  border-radius: 2px;
  margin: 4px;
  padding: 4px 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.1);
  transition: background-color 0.6s, box-shadow 0.6s;
  cursor: pointer;
}
button:hover {
  background-color: rgb(200, 240, 255);
  box-shadow: 0 1px 1px rgba(0,0,0,0.4), 0 4px 4px rgba(0,0,0,0.2);
}
button.selected {
  border: 1px solid #ddd;
  box-shadow: none;
  background-color: #eee;
}
button.selected:hover {
  background-color: rgb(200, 240, 255);
  box-shadow: 0 1px 1px rgba(0,0,0,0.4), 0 4px 4px rgba(0,0,0,0.2);
}
.scroll-window {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ticker {
  overflow: auto;
  position: absolute;
  white-space: nowrap;
  height: calc(100% - 120px);
  width: 100%;
}
