.Currency {
	display: table;
	transition: background-color 0.2s;
}
.Currency:hover {
	background-color: #eeefff;
}
.Currency span {
	padding: 2px;
	display: table-cell;
}
.Currency .code {
	font-weight: bold;
}
.Currency .rate {
	width: 100%;
	text-align: center;
}
.Currency .change {
	font-size: .8em;
	width: 100%;	text-align: right;
}
.Currency .change::after {
	content: "%";
	font-size: .8em;
}