.Day {
	display: inline-block;
	text-align: left;
	margin: 5px;
	padding: 5px;
	transition: background-color 0.2s;
}
.Day:hover {
	background-color: #f9f9f9;
}
.Day h3 {
	text-align: center;
}
.Day .sort-buttons {
	text-align: center;
}